:root {
  --background: #151515;
  --text: #f0f0f0;
  --second: #303030;
  --table: #515151;
  --accent: #884c3a;
  --success: #1d8b3a;
  --attention: #9d8613;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: var(--text);
  background-color: var(--background);
  padding: 15px;
  transition: background-color 0.25s ease-in-out;
}

.flex {
  display: flex;
}

.hcenter {
  align-items: center;
}

.wcenter {
  justify-content: center;
}

.container {
  margin: 10px 0px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--second);
}

.tip {
  background-color: var(--accent);
}

a {
  color: var(--text);
}

button {
  width: 100%;
  background-color: var(--accent);
  border-radius: 8px;
  padding: 10px;
  font-family: 'Work Sans', sans-serif;
  color: var(--text);
  border: 1px solid var(--text);
  transition: 0.25s ease-in-out
}

button:hover {
  cursor: pointer;
  filter: brightness(150%);
}

button:active {
  filter: brightness(175%);
}

select,
input:not([type=checkbox]) {
  background-color: var(--accent);
  font-family: 'Work Sans', sans-serif;
  padding: 8px 15px;
  border-radius: 8px;
  border-radius: 8px;
  border: 1px solid var(--text);
  color: var(--text);
  transition: background-color 0.25s ease-in-out;
  width: 100%;
}

input[type=checkbox] {
  appearance: none;
  width: 60px;
  height: 20px;
  border-radius: 12px;
  min-width: 60px;
  background-color: var(--table);
  border: 1px solid var(--text);
  transition: background-color 0.2s ease-in-out;
  position: relative;
}

input[type=checkbox]::before {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
  background-color: var(--text);
  border-radius: 50%;
}

input[type=checkbox]:hover {
  cursor: pointer;
}

input[type=checkbox]:checked::before {
  left: 42px;
}

input[type=checkbox]:checked {
  background-color: var(--accent);
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 4px;
}

table>tbody>tr>* {
  padding: 10px;
  border-radius: 8px;
}

table>tbody>tr {
  background-color: var(--table);
  border-radius: 8px;
}

td {
  text-align: center;
}

progress {
  width: 100%;
  height: 18px;
  border-radius: 8px;
  color: var(--second);
  border: 1px solid var(--text);
  min-width: 15vw;
}

progress::-webkit-progress-bar {
  border-radius: 8px;
}

progress::-webkit-progress-value {
  border-radius: 8px;
}

progress::-moz-progress-bar {
  border-radius: 8px;
}

progress::-moz-progress-bar {
  background: var(--accent);
}

progress::-webkit-progress-value {
  background: var(--accent);
}

.topCompare {
  border-bottom: 1px solid var(--text);
  margin-bottom: 3px;
}

.bottomCompare {
  margin-top: 3px;
}

.link {
  font-weight: 500;
}

.link:hover,
.hover:hover {
  cursor: pointer;
}

tr {
  transition: background-color 0.15s ease-in-out;
}

.gap {
  gap: 10px
}